$circle-1: 78%, 66%;
$circle-2: -68%, -72%;
$circle-3: -68%, 63%;
$circle-4: 78%, -71%;

$circles-color:(#A4BDFC,#FBD75B,#7AE7BF,#FF887C);
$circles: ($circle-1,$circle-2,$circle-3,$circle-4);

.preload{
  position: absolute;
  top: 46%;
  right: 49%;
  animation: spin 3s linear infinite;

  .circle-2{
    bottom: 0;
    right: 0;
  }

  .circle-3{
    right: 0;
  }

  .circle-4{
    bottom: 0;
  }
}

@for $i from 1 through length($circles-color){
  .circle-#{$i}{
    position: absolute;
    width: 65px;
    height: 65px;
    background-color: lighten(nth($circles-color, $i),+1);
    border-radius: 50%;
    animation: circle-#{$i} 3s infinite;
  }
}

@for $j from 1 through length($circles){
  @keyframes circle-#{$j}{
    50%{transform: translate(nth($circles, $j))}
  }
}

@keyframes spin{
  100%{transform: rotate(360deg);}
}

@keyframes fadeout{
  from{opacity: 1;}
  to{opacity: 0;}
}